body{
    background-color: rgb(32, 31, 31);
}
ul{
    position:fixed;
    top:0px;
    width:100%;
    overflow: hidden;
    margin:0;
    padding:0;
    border-bottom: 2px solid gray;
    background-color:rgb(32, 31, 31);
}
ul.menu li {
    float: left;
    list-style-type: none;
    text-align: center;
}
ul.menu li a{
    display: block;
    padding:20px;
    color: white;
    text-decoration: none;
    font-size:1.2vw;
    font-family:Calibri, Corbel, Perpetua, Cambria, 'Times New Roman', Times, serif;
}
ul.menu li:hover{
    background-color: rgb(20, 20, 20);
}

table,th,tr,td{
    border: transparent;
    border-collapse: collapse;
    border-style: inset;
    font-size: 2vw;
    font-family: Cambria,Corbel, Perpetua, Cambria, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 1vw;
    padding-left: 65px;
    color: whitesmoke;
}
td.name{
    font-size: 3.7vw; 
    text-shadow: -0.2vw -0.1vw 0.1vw rgb(130, 85, 209);
}
td.tag{
    font-size: 4.8vw;
}
td.tag2{
    font-size: 2.1vw
}
td#name{
    padding-top: 50px;
}
td#pro{
    padding-top: 100px;
    
}

.padding{
    padding:60px;
}
.project-btn{
    background-color:rgb(108, 51, 206);
    padding :0.5vw 0.95vw 0.5vw 0.95vw ;
    border:none;
    border-radius:0.5vw;
    font-size: 1.6vw;
    font-family:Calibri, Corbel, Perpetua, Cambria, 'Times New Roman', Times, serif;
}
.projects {
    position: relative;
    display: inline-block;
}
.project-content{
       display: none;
       position: absolute;
       background-color:rgb(41, 37, 37) ;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
       font-family:Calibri, Corbel, Perpetua, Cambria, 'Times New Roman', Times, serif;
}

.project-content a:hover {background-color:rgb(119, 70, 204);}
.project-content a {
    color: white;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    padding :0.55vw 0.95vw 0.5vw 0.95vw;
    text-decoration: none;
    display: block;
}

.projects:hover .project-content{
    display: block;
}
.projects:hover .project-btn{
    background-color: rgb(124, 71, 216);
}

.hey{
    padding: 90px;
}
.contact-me{
    color: white;
    font-size: 1vw;
}
.footer-link{
    font-size: 0.4vw;
}
.footer-img{
    height: 1vw; 
    width: 1vw; 
    padding: 1vw;
}



@media screen and (max-width:600px){
    ul.menu li {
        float: none;
    }
    ul.menu li a{
        font-size:2.4vw;
        padding: 10px;
    }
    table,th,tr,td{
        font-size: 3vw;
        padding:10px;
        padding-left:40px;
    }
    
    td.name{
        font-size: 5vw; 
    }
    td.tag{
        font-size: 5.7vw;
    }
    td.tag2{
       font-size: 2.6vw
    }
    .project-btn{
        font-size:2vw;
    }
    .project-content a {
        font-size: 2vw;
    }
    .contact-me{
        color: white;
        font-size: 1.4vw;
    }
    .footer-link{
        font-size: 1.7vw;
    }
    .footer-img{
        height: 1.9vw; 
        width: 2vw; 
        padding: 1.3vw;
    }
}